body{
    padding:0;
    margin: 0;
}
.box{
    
    width:35%;
    height: 70%;
    margin-top: 4%;
    margin-left: 4px;
    position: absolute;
    
    background-color: greenyellow;
    color: black;
    padding:14px,20px;
    border: 3px solid black;
    text-align: center;
}
h2{
    text-align: center;
    color: greenyellow;
}
.l1{
    margin-top: 5%;
    padding:10px,10px;
    color:blue;
    font-size:xx-large;
    font: 1em sans-serif;
}
.box input[type="text"]
{
    border: 0px;
    background:none;
    display: block;
    border: 2px solid black;
    padding: 14px 10px;
    margin:24px auto;
    width:200px;
    outline:none;
    border-radius: 24px;

}
.box input[type="text"]:focus{
    border-color:red;
    width:250px;
}
.box button[type="button"]
{
    border:0;
    background: none;
    text-align: center;
     color: white;
    display: block;
    padding :14px 10px;
    margin:20px auto;
    border:2px solid royalblue;
    width:150px;
    outline:none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}
.box button[type="button"]:hover
{
    background-color: black;
}
.col2{
    
    margin-top: 4%;
    margin-left: 10%;
    position: absolute;
    font-size: larger;
    
    color:black;

}
.colss{
    width:35%;
    height: 40%;
    margin-top: 29%;
    margin-left: 4px;
    position: absolute;
   
    
    color:black;
}

p1{
    
    color: red;
}